<!DOCTYPE html>
<html>
<head>
    <title>Phishing Email Detector</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Phishing Email Detector</h2>
        <form method="POST" enctype="multipart/form-data">
    <textarea name="email" rows="6" placeholder="Paste your email here..."></textarea><br>
    <label style="display:block; margin:10px 0;">
        OR upload .eml file:
        <input type="file" name="email_file" accept=".eml">
    </label>
    <button type="submit">Check Email</button>
</form>
        {% if prediction %}
            <div class="prediction">{{ prediction }}</div>
        {% endif %}
    </div>
</body>
</html>